body {
  /* padding: 1rem; */
  font-family: 'Outfit', sans-serif;
}

nav {
  padding: 1rem;
  font-family: 'Outfit', sans-serif;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.head {
  font-family: 'Playfair', serif;
}

