body {
  /* padding: 1rem; */
  font-family: 'Outfit', sans-serif;
}

nav {
  padding: 1rem;
  font-family: 'Outfit', sans-serif;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.head {
  font-family: 'Playfair', serif;
}

.background-div {
  background-image: url('public/pergola.jpg');
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  
}